\Registry\Machine\SYSTEM\Setup\NewKey1,,,,
\Registry\Machine\SYSTEM\Setup\NewKey1\NewKey2,test_sz,REG_SZ,something,
\Registry\Machine\SYSTEM\Setup,test_dword,REG_DWORD,10,
\Registry\Machine\SYSTEM\Setup,test_binary,REG_BINARY,00112233445566778899AABBCCDDEEFF,
\Registry\Machine\SYSTEM\Setup\OldKey,,DELETE,,
\Registry\Machine\SYSTEM\Setup\OldKey2,OldValueName,DELETE,,
